* {
    margin: 0;
    padding: 0;
}

.loginform {
    position: relative;
    padding-top: 50px;
    border: 2px solid black;
    height: 55vh;
    width: 35%;
    border-radius: 25px;
    backdrop-filter: blur(15px);
    box-shadow: black 4px 4px 10px;
}

form {
    border: none;
    height: 70%;
    width: 75%;
}

.lgform>input[type=email],.lgform>input[type=number],
.lgform>input[type=password] {
    width: 80%;
    height: 15%;
    border: none;
    border-radius: 10px;
    padding-left: 5%;
    box-shadow: black 4px 4px 10px;
}

.lgform>input[type=email]::placeholder,.lgform>input[type=number]::placeholder,
.lgform>input[type=password]::placeholder {
    color: #0f0f0f;
}
.lgform>input[name=otpemail],.lgform>input[name=otp],.lgform>input[name=otppassword]{
    width: 62%;
    height: 9%;
   position: absolute;
   top: 25%;
   left: 17%;
}
.lgform>input[name=otp]{
    top: 50%;
 }
 .lgform>input[name=otppassword]{
    top: 75%;
 }
.lgform>input[type=submit],.otp,.verify,.savechange{
    width: 35%;
    height: 12%;
    background-color: #0f0f0f;
    color: white;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: black 4px 4px 10px;
}
.otp{
  position: absolute;
  top: 38%;
  left: 36.5%;
  height: 7.5%;
  width: 28%;
}
.verify,.savechange{
  position: absolute;
  top: 62%;
  left: 36.5%;
  height: 7.5%;
  width: 28%;
}
.savechange{
    top: 87%;
  height: 7.7%;
  font-size: 1.3em;
}
.fogpasshead{
    position: absolute;
    top: 5%;
    left: 26%;
}
.senotp,#timeout{
    position: absolute;
    top: 17%;
    left: 42%;
    color: blue;
}
#timeout{
    left: 37%;
}
input[type=submit]:hover,.otp:hover , .verify:hover,.savechange:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.05);
}

.loading {
    position: absolute;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}
.log-head{
    position: relative;
    top: -5%;
}
.loader {
    position: absolute;
    top: 17%;
    left: 43%;
    width: 50px;
    height: 55px;
  }
  
  .loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 87%;
    background: rgb(0, 0, 0);
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  
  .loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
    animation: barUp1 4s infinite;
  }
  
  .loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
    animation: barUp2 4s infinite;
  }
  
  .loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
    animation: barUp3 4s infinite;
  }
  
  .loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
    animation: barUp4 4s infinite;
  }
  
  .loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
    animation: barUp5 4s infinite;
  }
  
  .loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: rgb(44, 143, 255);
    border-radius: 50%;
    -webkit-animation: ball624 4s infinite;
    animation: ball624 4s infinite;
  }
  
  @keyframes ball624 {
    0% {
      transform: translate(0, 0);
    }
  
    5% {
      transform: translate(8px, -14px);
    }
  
    10% {
      transform: translate(15px, -10px);
    }
  
    17% {
      transform: translate(23px, -24px);
    }
  
    20% {
      transform: translate(30px, -20px);
    }
  
    27% {
      transform: translate(38px, -34px);
    }
  
    30% {
      transform: translate(45px, -30px);
    }
  
    37% {
      transform: translate(53px, -44px);
    }
  
    40% {
      transform: translate(60px, -40px);
    }
  
    50% {
      transform: translate(60px, 0);
    }
  
    57% {
      transform: translate(53px, -14px);
    }
  
    60% {
      transform: translate(45px, -10px);
    }
  
    67% {
      transform: translate(37px, -24px);
    }
  
    70% {
      transform: translate(30px, -20px);
    }
  
    77% {
      transform: translate(22px, -34px);
    }
  
    80% {
      transform: translate(15px, -30px);
    }
  
    87% {
      transform: translate(7px, -44px);
    }
  
    90% {
      transform: translate(0, -40px);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }
  
  @-webkit-keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
  
    40% {
      transform: scale(1, 0.2);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    90% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 0.2);
    }
  }
  
  @keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
  
    40% {
      transform: scale(1, 0.2);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    90% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 0.2);
    }
  }
  
  @-webkit-keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
  
    40% {
      transform: scale(1, 0.4);
    }
  
    50% {
      transform: scale(1, 0.8);
    }
  
    90% {
      transform: scale(1, 0.8);
    }
  
    100% {
      transform: scale(1, 0.4);
    }
  }
  
  @keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
  
    40% {
      transform: scale(1, 0.4);
    }
  
    50% {
      transform: scale(1, 0.8);
    }
  
    90% {
      transform: scale(1, 0.8);
    }
  
    100% {
      transform: scale(1, 0.4);
    }
  }
  
  @-webkit-keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
  
    100% {
      transform: scale(1, 0.6);
    }
  }
  
  @keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
  
    100% {
      transform: scale(1, 0.6);
    }
  }
  
  @-webkit-keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
  
    40% {
      transform: scale(1, 0.8);
    }
  
    50% {
      transform: scale(1, 0.4);
    }
  
    90% {
      transform: scale(1, 0.4);
    }
  
    100% {
      transform: scale(1, 0.8);
    }
  }
  
  @keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
  
    40% {
      transform: scale(1, 0.8);
    }
  
    50% {
      transform: scale(1, 0.4);
    }
  
    90% {
      transform: scale(1, 0.4);
    }
  
    100% {
      transform: scale(1, 0.8);
    }
  }
  
  @-webkit-keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
  
    40% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1, 0.2);
    }
  
    90% {
      transform: scale(1, 0.2);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
  
    40% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1, 0.2);
    }
  
    90% {
      transform: scale(1, 0.2);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:455px){
    .loginform {
        padding-top: 50px;
        border: 1px solid black;
        height: 45vh;
        width: 80%;
        border-radius: 25px;
        backdrop-filter: blur(15px);
    }
}