.manual_address{
    height: 80vh;
    width: 30vw;
    position: absolute;
    left: 35vw;
    top: 10vh;
    background-color: rgb(219 199 199);
    z-index: 2;
    flex-direction: column;
    border: 2px solid;
    display: none;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgb(169, 46, 226);
}
.sheet{
    z-index: 1;
}
.sheetnav{
    display: flex;
    height: 11%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: rgb(133, 133, 168);
    font-size: 1.2em;
    font-weight: bold;
}
.sheetnav button{
    border: none;
    height: 40px;
    width: 10%;
    font-size: 1.5em;
    font-weight: bolder;
    align-items: center;
    background-color: red;
    color: ghostwhite;
    position: absolute;
    right: 2%;
    top: 1%;
    border-radius: 10px;
    cursor: pointer;
}
.sheetnav button:hover{
  background-color: white;
  color: red;
}
.sheetform{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* gap: 5px; */
    height: 90%;
    width: 100%;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    /* border: 1px solid; */
    overflow-y: scroll;
}
.homediv{
    display: flex;
    flex-direction: column;
    width: 85%;
    /* justify-content: space-around; */
    border: none;
    align-items: center;
}
.homediv input[type=text],.homediv select,.homediv label, .homediv input[type=number] {
    width: 85%;
    height: 50%;
    border: none;
    border-radius: 10px;
}
.homediv input[type=text]::placeholder,.homediv input[type=number]::placeholder{
    padding-left: 5px;
    color: rgb(107, 81, 81);
}
.butons button[type=submit]{
    /* position: absolute; */
    width: 8vw;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: ghostwhite;
    background-color: brown;
    margin-top: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.butons button[type=submit]:hover{
    transform: scale(1.1);
}
