.r-selection{
    position: absolute;
    height: 8.5vh;
    width: 8.5vw;
    border-radius: 5%;
    background:linear-gradient(120deg,rgb(247, 33, 150),rgb(248, 118, 189));
    color: rgb(250, 206, 250);
    right: 7%;
    bottom: 7%;
    border: none;
    font-size: 1.1em;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px 7px black;
}
.r-selection:hover{
    transform: scale(1.1,1.1);
    color: white;
}